.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}

.content_wrapper{
    display: flex;
    justify-content: space-between;
    width: 900px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

input {
    padding: 5px;
    margin: 5px 0;
}

input:first-child{
    margin: 0 2 5px;
}
.buttons_wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
}

button {
    width: 70px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid gray;
}

th {
    min-width: 100px;
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
    background-color: aqua;
    color: rgb(150, 189, 189);
}

th:first-child{
    min-width: 15px;
}

td {
    border: 1px solid gray;
    padding: 5px;
}

.entry_buttons_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 5px 5px;
    
}